<footer id="main-footer">
    <p>
        Astron-Out© All Rights Reserved.
    </p>
    <ul>
        <li><a href="https://www.instagram.com/kh.shmsv" target="_blank">Instagram</a></li>
        <li><a href="https://t.me/astron_out" target="_blank">Telegram</a></li>
        <li><a href="https://dribbble.com/astron-out" target="_blank">Dribbble</a></li>
    </ul>
</footer>