<header id="main-header">
    <h1 style="margin: 0;"><a href="/" id="page-logo">MyPost</a></h1>
    <nav>
        <ul id="nav-btns">
            <li>
                <a href="/posts" id="vw-post">All Posts</a>
            </li>
            <li>
                <a href="/create" id="ct-post">Create Post</a>
            </li>
        </ul>
        <img src="/files/icons/hum-menu.png" alt="" id="hum-menu">
        <img src="/files/icons/close-menu.png" alt="" id="cls-menu">
    </nav>
</header>

    <div id="sd-con">
        <ul id="sd">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/posts">All Posts</a>
            </li>
            <li>
                <a href="/create">Create Post</a>
            </li>
        </ul>
    </div>
