<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPost</title>
    <%- include('includes/fonts') %>
        <link rel="stylesheet" href="/styles/style.css">
        <script src="/script/script.js" defer></script>
</head>

<body>

    <%- include('includes/header') %>

    <main>
        <section id="sr-pg">
            <div id="it-con">
              <h2>Welcome to our Blog Post Page</h2>
            <h3>Here you can find the interesting posts from our users that practised and seemed in the life!</h3>
            <ul>
                <li>
                    <a href="/posts">View Posts</a>
                </li>
                <li>
                    <a href="/create">Create Post</a>
                </li>
            </ul>  
            </div>
            
        </section>
    </main>

    <%- include('includes/footer') %>
</body>

</html>